.ant-menu-submenu>.ant-menu {
    background-color: #3c4551 ! important;

}

.ant-layout-sider-trigger {
    background-color: #3c4551 ! important;
}

.ri-earth-line , .ri-reactjs-fill{
    position: relative;
    bottom: 1px;
    left: 1px;
}

.ant-menu-item .ri-camera-line{
    position: relative;
    bottom: 2px;
    left: 1px;
}

.ri-tree-fill{
    margin-right: 10px;
}

.demo-logo{
    margin-left: -15px;
}

*{
    overflow: hidden;
}

p{
    margin:  6px 0px 8px 0px!important;
    font-size: 13px;
}

.ant-card-body{
    padding: 0px 25px  !important;
}

.ant-card-actions{
    background-color: #ededed !important;
   
}